Topic 1 — Functions (def) & Lambda Functions

Part A — Basic Function Concepts (Single Return Values)

1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".

In [ ]:
def wish(name):
  print(f"Hello,Good Morning {name} !")
wish("Tom")

Hello,Good Morning Tom !

2.	Write a function cube(n) that returns the cube of a number (n³).

In [ ]:
def cube(n):
  print(n**3)
cube(6)

216

3.	Write a function check_even(n) that returns True if the number is even, else False.

In [ ]:
def check_even(n=int(input("enter a number"))):
  if n%2==0:
    print("True")
  else:
    print("False")
check_even()

enter a number8
True

4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.

In [ ]:
def greatest_of_two():
  a = int(input("enter a number"))
  b = int(input("enter a number"))
  if a > b:
    print(a)
  else:
    print(b)
greatest_of_two()

enter a number10
enter a number20
20

5.	Write a function count_letters(s) that returns the number of characters in a string.

In [ ]:
def count_letters():
  n = input("enter a word:")
  print(len(n))
count_letters()

enter a word:hello
5

6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

In [ ]:
def power(value,exp=2):
  print(value**exp)
power(int(input("Enter a value: ")))

Enter a value: 45
2025

Returning Multiple Values

7.	Write a function swap(a, b) that returns the two values swapped as a tuple.

In [ ]:
def swap(a,b):
  a,b=b,a
  return a,b
a= int(input("Enter the first value: "))
b= int(input("Enter the second value: "))
result = swap(a, b)
print(result)

Enter the first value: 10
Enter the second value: 20
(20, 10)

8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.

In [ ]:
def add_sub(a,b):
  sum = a+b
  sub = a-b
  return sum,sub

a= int(input("Enter the first value: "))
b= int(input("Enter the second value: "))

result = add_sub(a, b)
print(result)

Enter the first value: 20
Enter the second value: 30
(50, -10)

9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.

In [ ]:
def circle_stats(radius):
  area = 3.14 * radius** 2
  circumference = 2 *3.14* radius
  return area, circumference
radius = float(input("Enter a number: "))
result = circle_stats(radius)
print(result)

Enter a number: 7
(153.86, 43.96)

10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

In [ ]:
def min_max_sum(nums):
    return min(nums), max(nums), sum(nums)
min_max_sum([11,23,45,2])

(2, 45, 81)

— Working with Strings & Formatting

11.	Write a function concat(*parts) that joins multiple strings together with spaces.

In [ ]:
def concat(*parts):
  return " ".join(parts)
concat("python","programming")

'python programming'

12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".

In [ ]:
def format_name(first, last=""):
    if last:
        return f"{last}, {first}"
    else:
        return first

print(format_name("Lokesh", "Amballa"))

Amballa, Lokesh

13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

In [ ]:
def greet_user(first, last):
    return f"Welcome, {first} {last}!"
greet_user("lokesh","Amballa")

'Welcome, lokesh Amballa!'

— Lambda Functions

14.	Write a lambda function to add two numbers.

In [ ]:
add = lambda a, b: a + b
print(add(2, 3))

5

15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.

In [ ]:
import math
mult = lambda *args: math.prod(args)
print(mult(2, 3, 4))

24

16.	Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

In [ ]:
flatten = lambda pairs: [x for pair in pairs for x in pair]

print(flatten([('a', 'b'), ('c', 'd')]))

['a', 'b', 'c', 'd']

— Recursive, Higher-Order & Inner Functions

17.	Write a recursive function factorial(n) that returns the factorial of a number.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial(3)

6

18.	Write a function apply_twice(func, x) that applies a function twice → func(func(x)).

In [ ]:
def apply_twice(func, x):
    return func(func(x))
def square(x):
    return x * x
apply_twice(square, 3)

81

19.	Write a function inner_demo() that defines and calls an inner function inside it.

In [ ]:
def inner_demo():
    def inner_function():
        print("This is an inner function.")
    inner_function()
inner_demo()

This is an inner function.

20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.

In [ ]:
def call_function(func, value):
    return func(value)
def square(x):
    return x * x
value_input = int(input("Enter a value: "))
result = call_function(square, value_input)
print(result)

Enter a value: 6
36

21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.

In [ ]:
def square_list(nums):
    def square(x):
        return x * x
    return [square(num) for num in nums]
square_list([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

— Intermediate Function Concepts

22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.

In [ ]:
def make_multiplier(m):
    def multiplier(x):
        return x * m
    return multiplier
multiply_by_2 = make_multiplier(2)
print(multiply_by_2(5))

10

23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def filter_primes(nums):
    return [n for n in nums if is_prime(n)]

nums = list(map(int, input("Enter numbers: ").split()))
print(filter_primes(nums))

Enter numbers: 2 3 4 5 6
[2, 3, 5]

24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
Formula: F = C * 9/5 + 32

In [ ]:
def convert_to_fahrenheit(celsius_list):
    return list(map(lambda c: c * 9/5 + 32, celsius_list))
print(convert_to_fahrenheit([123, 67, 37]))

[253.4, 152.6, 98.6]

25.	Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.

In [ ]:
def apply_if(func, predicate, iterable):
  return [func(x) if predicate(x) else x for x in iterable]

nums = [1, 2, 3, 4, 5, 6]
result = apply_if(lambda x: x**2, lambda x: x % 2 == 0, nums)
print(result)

[1, 4, 3, 16, 5, 36]

26.	Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).

In [ ]:
def curry(func):
    def curried_func(a):
        def inner_func(b):
            return func(a, b)
        return inner_func
    return curried_func
def add(a, b):
    return a + b
curried_add = curry(add)
print(curried_add(5)(10))

15

27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.

In [ ]:
def variadic_sum(*args, **kwargs):
    result = sum(args)
    if 'scale' in kwargs:
        result *= kwargs['scale']
    return result
print(variadic_sum(1, 2, 3, scale=2))

12

28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.

In [ ]:
def sort_by_length(strings):
    return sorted(strings, key=lambda x: len(x))
strings = ["apple", "banana", "cherry", "dates"]
print(sort_by_length(strings))

['apple', 'dates', 'banana', 'cherry']

— List Comprehensions

— Basic Comprehension Practice

29.	Create [1,2,3,4] → list of their squares.

In [ ]:
nums = [1, 2, 3, 4]
squares = [x**2 for x in nums]
print(squares)

[1, 4, 9, 16]

30.	Create ['a','b','c'] → list of their uppercase versions.

In [ ]:
chars = ['a', 'b', 'c']
upper_chars = [c.upper() for c in chars]
print(upper_chars)

['A', 'B', 'C']

31.	Make a list of even numbers from 1 to 20.

In [ ]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].

In [ ]:
words = ['apple', 'bee', 'cat']
word_lengths = [(word, len(word)) for word in words]
print(word_lengths)

[('apple', 5), ('bee', 3), ('cat', 3)]

33.	Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].

In [ ]:
nested = [[1, 2], [3, 4], [5]]
flat = [x for sub in nested for x in sub]
print(flat)

[1, 2, 3, 4, 5]

34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.

In [ ]:
n = [0, 1, 2, 3]
even_odd = ['even' if x % 2 == 0 else 'odd' for x in n]
print(even_odd)

['even', 'odd', 'even', 'odd']

35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).

In [ ]:
def is_prime(n):
    if n < 2: return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
n = [0, 1, 2, 3, 4, 5, 6, 7]
prime_bools = [is_prime(x) for x in n]
print(prime_bools)

[False, False, True, True, False, True, False, True]

36.	From range(1,50), select numbers divisible by both 2 and 3.

In [ ]:
div_by_2_and_3 = [x for x in range(1, 50) if x % 2 == 0 and x % 3 == 0]
print(div_by_2_and_3)

[6, 12, 18, 24, 30, 36, 42, 48]

37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.

In [ ]:
coords = [(i, j) for i in range(3) for j in range(3)]
print(coords)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

38.	From ['a b','c d e'], produce a flat list of all words.

In [ ]:
strings = ['a b', 'c d e']
flat_words = [word for s in strings for word in s.split()]
print(flat_words)

['a', 'b', 'c', 'd', 'e']

 — Using Lists of Dictionaries

39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.

In [ ]:
students = [{'name':'lokesh','score':80}, {'name':'aditya','score':60}]
high_score_names = [s['name'] for s in students if s['score'] >= 75]
print(high_score_names)

['lokesh']

40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.

In [ ]:
numbers = [{'n': n, 'square': n*n} for n in range(1, 11)]
print(numbers)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.

In [ ]:
list1 = [1, 0, 3, 4]
list2 = [5, 6, 0, 8]

merged = [(a, b) for a, b in zip(list1, list2) if a and b]
print(merged)

[(1, 5), (4, 8)]

42.	Create a comprehension to transpose a matrix (swap rows ↔ columns).

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6]]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4], [2, 5], [3, 6]]

— Advanced Comprehensions

43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.

In [ ]:
nested = [[[1,2],[3]], [[4]]]
flat_list = [x for sublist1 in nested for sublist2 in sublist1 for x in sublist2]
print(flat_list)

[1, 2, 3, 4]

44.	Write a comprehension that keeps only unique items from a list while preserving order.

In [ ]:
lst = [1,2,1,3,2,4,1]
unique = []
[unique.append(x) for x in lst if x not in unique]
print(unique)

[1, 2, 3, 4]

45.	Find all indices (positions) where a given number appears in a list.

In [ ]:
n = [10, 20, 10, 30, 10,40,10,50]
target = 10
indices = [i for i, n in enumerate(n) if n == target]
print(indices)

[0, 2, 4, 6]

46.	Generate all palindromic numbers (as strings) between 1 and 999.

In [ ]:
palindromes = [str(i) for i in range(1, 1000) if str(i) == str(i)[::-1]]
print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.

In [ ]:
dict= {'a':[1,2], 'b':[3]}
result = [(k, v) for k in dict for v in dict[k]]
print(result)

[('a', 1), ('a', 2), ('b', 3)]

48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.

In [ ]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n**0.5)+1))

primes = [p for p in range(2, 100) if is_prime(p)]
pairs = [(p, q) for p in primes for q in primes if is_prime(p+q)]
print(pairs[:20])

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71), (3, 2), (5, 2), (11, 2), (17, 2), (29, 2), (41, 2), (59, 2), (71, 2)]

49.	Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.

In [ ]:
n = int(input("enter a number:"))
matrix = [[1 if i >= j else 0 for j in range(n)] for i in range(n)]
for row in matrix:
    print(row)

enter a number:4
[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]
[1, 1, 1, 1]

50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.

In [ ]:
chars = 'abcd'

all_sequences = [a+b+c+d
                 for a in chars
                 for b in chars if b != a
                 for c in chars if c != a and c != b
                 for d in chars if d != a and d != b and d != c]

print(all_sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']