Basic Syntax & IO

# 1.HELLO WORLD

In [ ]:
print("Hello, World!")

Hello, World!

2.Take user input and print it

In [ ]:
text = input("Type anything you like: ")
print( text)

Type anything you like: ksr datavision
ksr datavision

3.Swap two variables

In [ ]:
a, b = 6, 47
print("Before swap:", a, b)
a, b = b, a
print("Now swapped → a:", a, ", b:", b)

Before swap: 6 47
Now swapped → a: 47 , b: 6

4.Check if a number is even or odd

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 47
The number is odd.

5.Find the largest of two numbers

In [ ]:
x = int(input("Enter first value: "))
y = int(input("Enter second value: "))

if x == y:
    print("Both values are equal")
elif x > y:
    print(f"{x} is greater than {y}")
else:
    print(f"{y} is greater than {x}")

Enter first value: 13
Enter second value: 15
15 is greater than 13

Operators

1.Perform arithmetic operations (+, -, *, /, %, **), take any values as “a” and “b”

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("Sum =", x + y)
print("Difference =", x - y)
print("Product =", x * y)
print("Quotient =", x / y)       # gives the result of division
print("Remainder =", x % y)      # gives remainder after division
print("Power =", x ** y)         # x raised to the power of y

Enter first number: 2
Enter second number: 3
Sum = 5
Difference = -1
Product = 6
Quotient = 0.6666666666666666
Remainder = 2
Power = 8

2.Calculate the square and cube of a number

In [ ]:


#Calculate the square and cube of a number
num = float(input("Enter a number: "))
square = num ** 2
cube = num ** 3
print("Square:", square)
print("Cube:", cube)

Enter a number: 2
Square: 4.0
Cube: 8.0

3.Convert Celsius to Fahrenheit (F = (C * 9/5) + 32)

In [ ]:
c = float(input("Enter Celsius: "))
f = (c * 9/5) + 32
print("Fahrenheit:", f)

Enter Celsius: 345.8
Fahrenheit: 654.44

4.Convert kilometers to miles (1 km = 0.621371 miles)

In [ ]:
distance_km = float(input("Enter distance in km: "))
distance_miles = distance_km * 0.621371
print("Distance in miles is:", distance_miles)

Enter distance in km: 50
Distance in miles is: 31.068550000000002

5.Check if a number is positive, negative, or zero

In [ ]:
n = float(input("Enter any number: "))

if n > 0:
    print("Positive number")
elif n < 0:
    print("Negative number")
else:
    print("Zero")

Enter any number: 9
Positive number

Conditional Statements

1.Find the largest of three numbers.

In [ ]:
# Take three numbers as input
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 > num2 and num1 > num3:
    print("The largest number is", num1)
elif num2 > num1 and num2 > num3:
    print("The largest number is", num2)
else:
    print("The largest number is", num3)

Enter first number: 89
Enter second number: 98
Enter third number: 56
The largest number is 98

2.Check if a year is a leap year.

In [ ]:
year = int(input("Enter a year: "))
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(f"{year} is a Leap Year")
else:
    print(f"{year} is Not a Leap Year")

Enter a year: 2008
2008 is a Leap Year

3.Check if a character is a vowel or consonant

In [ ]:
char = input("Enter any letter: ").lower()

vowels = "aeiou"

if char in vowels:
    print(char, "is a vowel")
else:
    print(char, "is a consonant")

Enter any letter: lokesh
lokesh is a consonant

4.Write a Python program to assign the grades to each subject based on the grade scale:
Student subject marks:
maths = 85 science = 78 english = 92
Grade scale: A: 90-100
B: 80-89
C: 70-79
D: 60-69
E: 50-59
F: Below 50

In [ ]:
# Student marks
maths = 85
science = 78
english = 92

# Maths grade
if maths >= 90:
    print("Maths grade: A")
elif maths >= 80:
    print("Maths grade: B")
elif maths >= 70:
    print("Maths grade: C")
elif maths >= 60:
    print("Maths grade: D")
elif maths >= 50:
    print("Maths grade: E")
else:
    print("Maths grade: F")

# Science grade
if science >= 90:
    print("Science grade: A")
elif science >= 80:
    print("Science grade: B")
elif science >= 70:
    print("Science grade: C")
elif science >= 60:
    print("Science grade: D")
elif science >= 50:
    print("Science grade: E")
else:
    print("Science grade: F")

# English grade
if english >= 90:
    print("English grade: A")
elif english >= 80:
    print("English grade: B")
elif english >= 70:
    print("English grade: C")
elif english >= 60:
    print("English grade: D")
elif english >= 50:
    print("English grade: E")
else:
    print("English grade: F")

Maths grade: B
Science grade: C
English grade: A

5.Write a program to check if a number is divisible by both 5 and 11

In [ ]:

num = int(input("Enter a number: "))
if num % 5 == 0 and num % 11 == 0:
    print(f"{num} is divisible by both 5 and 11")
else:
    print(f"{num} is not divisible by both 5 and 11")

Enter a number: 55
55 is divisible by both 5 and 11

Loops

1.Print numbers from 1 to the given number N

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number: 10
1
2
3
4
5
6
7
8
9
10

2.Print even numbers up to the given number N

In [ ]:
n = int(input("Enter a number: "))
for i in range(2, n+ 1, 2):
    print(i)

Enter a number: 10
2
4
6
8
10

3.Sum of first N natural numbers (sum = n * (n+1) / 2)

In [ ]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1,n+1):
  sum +=i
print(sum)

Enter a number: 10
55

4.Calculate the factorial of a number (n! = n × (n-1) × ... × 1) without using def function

In [ ]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n + 1):
    fact *= i
print("Factorial of", n, "is:", fact)

Enter a number: 6
Factorial of 6 is: 720

5.Print multiplication table of a number

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Strings

1.Write a program to Reverse a given string (at least 2 ways)

In [ ]:
string=input("enter a string ")
str=string[::-1]
print(str)

enter a string lokesh
hsekol

In [ ]:
text = input("Enter a string: ")
reversed_text = ""
for ch in text:
    reversed_text = ch + reversed_text
print("Reversed string:", reversed_text)

2.Count the number of vowels in a string

In [ ]:

#Count the number of vowels in a strin
str=input("enter a string: ")
str=str.lower()
vowels="aeiou"
count=0
for i in str:
  if i in vowels:
    count += 1
print(count)

enter a string: ksr datavision
5

3.Check if a string is a palindrome

In [ ]:
text = input("Enter a string: ")

if text == text[::-1]:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter a string: mom
The string is a palindrome

4.Convert uppercase to lowercase and vice versa

In [ ]:
string=input("enter a string : " )
converted_str=""
for char in string:
  if char.islower():
    converted_str +=char.upper()
  elif char.isupper():
    converted_str += char.lower()
  else:
    converted_str += char
print(converted_str)

enter a string : LOKESH
lokesh

5.Find the length of a string without using len() function

In [ ]:
text = input("Enter a string: ")
count = 0

for char in text:
    count += 1

print("Length of the string is:", count)

Enter a string: lokesh
Length of the string is: 6

Lists

1.Find the largest element in a list

2.Find the smallest element in a list

In [ ]:
numbers = [12, 45, 7, 89, 34]

largest = numbers[0]
smallest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

print("Largest element is:", largest)
print("Smallest element is:", smallest)

Largest element is: 89
Smallest element is: 7

3.Find the sum of elements in a list

In [ ]:
numbers = [12, 45, 7, 89, 34]
total = 0

for num in numbers:
    total += num

print("Sum of elements is:", total)

Sum of elements is: 187

4.Sort a list in ascending order

In [ ]:
numbers = [12, 45, 7, 89, 34]

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] > numbers[j]:
            numbers[i], numbers[j] = numbers[j], numbers[i]

print("Sorted list (ascending):", numbers)

Sorted list (ascending): [7, 12, 34, 45, 89]

5.Remove duplicates from a list

In [ ]:
numbers = [12, 45, 7, 89, 12, 34, 45]
unique_numbers = []

for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print("List without duplicates:", unique_numbers)

List without duplicates: [12, 45, 7, 89, 34]

Tuples

1.Find the maximum and minimum number in a tuple

In [ ]:
numbers = (12, 45, 7, 89, 34)

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("Maximum number is:", maximum)
print("Minimum number is:", minimum)

Maximum number is: 89
Minimum number is: 7

2.Convert a tuple to a list

In [ ]:
t = (12, 45, 7, 89, 34)
lst = list(t)

print("Converted list:", lst)

Converted list: [12, 45, 7, 89, 34]

3.Count occurrences of an element in a tuple

In [ ]:

my_tuple = (1, 2, 2, 3,"true",46.9,False, 2, 4)
count_2 = my_tuple.count(2)

print("Count of 2:", count_2)

Count of 2: 3

4.Find the index of an element in a tuple

In [ ]:
my_tuple=( 12,"true",37.5,15,11,True,15,"abc")
index_pos=my_tuple.index(15)
print(index_pos)

3

5.Reverse a tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

Sets

1.Create empty set

In [ ]:
empty_set=set()
print(empty_set)

set()

2.Perform union of two sets

In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

3.Perform intersection of two sets

In [ ]:
intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5}

4.Perform difference of two sets

In [ ]:
difference_set2 = set1.difference(set2)
print(difference_set2)
difference_set1 = set2.difference(set1)
print(difference_set1)

{1, 2, 3}
{8, 6, 7}

5.Check if a set is a subset of another

In [ ]:
myset1={1,2}
myset2={1,2,3,4,5}
is_subset=myset1.issubset(myset2)
print(is_subset)

True

6.Remove an element from a set

In [ ]:
my_set={23,12,34,67,32,47,98,45,63}
my_set.remove(47)
print(my_set)

{32, 34, 67, 98, 12, 45, 23, 63}

Dictionaries

1.Create a dictionary and print keys & values

In [ ]:
my_dict = {'apple': 10, 'banana': 5, 'orange': 8}
print("Keys:", my_dict.keys())
print("Values:", my_dict.values())

Keys: dict_keys(['apple', 'banana', 'orange'])
Values: dict_values([10, 5, 8])

2.Find the sum of dictionary values

In [ ]:
My_dict={"AK":47,"LOK": 38,"AMN":76,"FCK":82}
total = 0
for value in My_dict.values():
    total += value
print("Sum of values:", total)

Sum of values: 243

3.Merge two dictionaries

In [ ]:
dict1 = {'L': 10, 'O': 5}
dict2 = {'K': 3, 'I': 7}

merged = dict1 | dict2
print("Merged dictionary:", merged)

Merged dictionary: {'L': 10, 'O': 5, 'K': 3, 'I': 7}

4.Sort a dictionary by its values

In [ ]:
my_dict = {"apple": 50, "banana": 20, "cherry": 30}

sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Dictionary sorted by values:", sorted_dict)

sorted_dict_desc = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print("Dictionary sorted by values (descending):", sorted_dict_desc)

Dictionary sorted by values: {'banana': 20, 'cherry': 30, 'apple': 50}
Dictionary sorted by values (descending): {'apple': 50, 'cherry': 30, 'banana': 20}

5.Count the occurrences of elements in a dictionary

In [ ]:
items = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
mydict = {}
for i in items:
    mydict[i] = mydict.get(i, 0) + 1
print(mydict)

{'apple': 3, 'banana': 2, 'orange': 1}

Mathematical Programs

1.Check if a number is prime or not

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number: 98
Not a prime number

2.Find the sum of digits of a number

In [ ]:
num = int(input("Enter a number: "))
sum_digits = 0
temp = num

while temp > 0:
    sum_digits += temp % 10
    temp //= 10

print("Sum of digits:", sum_digits)

Enter a number: 1234
Sum of digits: 10

3.Find the LCM of two numbers

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

# Find LCM
lcm = a if a > b else b
while True:
    if lcm % a == 0 and lcm % b == 0:
        break
    lcm += 1

print("LCM of", a, "and", b, "is:", lcm)

Enter first number: 12
Enter second number: 48
LCM of 12 and 48 is: 48

4.Find the GCD of two numbers

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

while b != 0:
    a, b = b, a % b

print("GCD is:", a)

Enter first number: 12
Enter second number: 48
GCD is: 12

Functions

1.Define a function to find the sum of two numbers

In [ ]:
def add_numbers(a, b):
    return a + b
print(add_numbers(5, 7))

12

2.Define a function to return the square of a number

In [ ]:
def square(num):
    return num **2
print(square(16))

256

3.Define a function with default arguments

In [ ]:

def greet(name="Guest", msg="Welcome!"):
    print(f"Hello {name}, {msg}")

greet()
greet("lokesh", "have a nice day")

Hello Guest, Welcome!
Hello lokesh, have a nice day

4.Define a function with variable-length arguments

In [ ]:
def add_multiple_nums(*numbers):
    total = 0
    for n in numbers:
        total += n
    return total

print(add_multiple_nums(1, 2, 3, 4, 5))
print(add_multiple_nums(5, 10, 15, 20))

15
50

5.Define a function that returns multiple values

In [ ]:
def calculate(a, b):
    sum_val = a + b
    diff_val = a - b
    prod_val = a * b
    return sum_val, diff_val, prod_val

s, d, p = calculate(10, 5)
print("Sum:", s)
print("Difference:", d)
print("Product:", p)

Sum: 15
Difference: 5
Product: 50

Lambda Functions

1.Use a lambda function to add two numbers

In [ ]:
add = lambda a, b: a + b
print(add(15, 7))

22

2.Use a lambda function to find the maximum of two numbers

In [ ]:
maximum = lambda a, b: a if a > b else b
print(maximum(10, 65))

65

3.Use a lambda function to square a number

In [ ]:
square = lambda x: x **2

print(square(14))

196

4.Use a lambda function inside map()

In [ ]:
nums = [1, 2, 3, 4, 5]
squared_nums = list(map(lambda x: x**2, nums))

print(squared_nums)

[1, 4, 9, 16, 25]

5.Use a lambda function inside filter()

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print(even_nums)

[2, 4, 6]

In [ ]:
#cubed_events
nums = [1, 2, 3, 4, 5, 6,7,8,9]
cubed_evens = list(map(lambda x: x**3, filter(lambda x: x % 2 == 0, nums)))
print(cubed_evens)

[8, 64, 216, 512]

List Comprehensions

1.Generate a list of squares using list comprehension

In [ ]:
nums = [1, 2, 3, 4, 5,6,7,8,9]
squares = [x**2 for x in nums]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

2.Generate a list of even numbers using list comprehension

In [ ]:
nums=[2,13,15,16,28,32,47,66,88,99]
evens=[i for i in nums if i%2==0]
print(evens)

[2, 16, 28, 32, 66, 88]

3.Reverse a list using list comprehension

In [ ]:
mylist=["abc",12,67,89,4,11,45.6,"xyz"]
rev_list = [x for x in mylist[::-1]]
print(rev_list)

['xyz', 45.6, 11, 4, 89, 67, 12, 'abc']

4.Flatten a nested list using list comprehension

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 4, 5, 6]

5.Find common elements in two lists using list comprehension

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common = [x for x in list1 if x in list2]
print("Common elements:", common)

Common elements: [3, 4, 5]


Miscellaneous

1.Swap two numbers without using a third variable

In [ ]:
a=1
b=6
a=a+b
b=a-b
a=a-b
print(a,b)

6 1

2.Count occurrences of each word in a sentence

In [ ]:
sentence = "Data science and machine learning are fun and data is powerful "
words = sentence.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word occurrences:", word_count)

Word occurrences: {'Data': 1, 'science': 1, 'and': 2, 'machine': 1, 'learning': 1, 'are': 1, 'fun': 1, 'data': 1, 'is': 1, 'powerful': 1}

3.Find the second largest number in a list

In [ ]:
nums = [10, 20, 4, 19,10 ,47, 99]
unique_nums = list(set(nums))
unique_nums.sort()
second_largest = unique_nums[-2]
print(second_largest)

47

4.Check if two strings are anagrams

In [ ]:
str1 = "listen"
str2 = "silent"

if sorted(str1) == sorted(str2):
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

The strings are anagrams

5.Print Pascal's Triangle

In [ ]:
def pascal_triangle(n):
    for i in range(n):
        num = 1
        print(' ' * (n - i), end='')
        for j in range(i + 1):
            print(num, end=' ')
            num = num * (i - j) // (j + 1)
        print()

rows = int(input("Enter number of rows: "))
pascal_triangle(rows)

Enter number of rows: 5
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1